@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    /* overflow-x: hidden; */
}

p{
    margin-bottom: 10px;
    text-align: justify;
}
h1, h2{
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.2em;
}

header, section.normal{
    padding: 20px;
}

section.flex-content{
    display: flex;
    flex-flow: column nowrap;
    background-color: lightblue;
    padding: 20px;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text{
    flex: 1 1 500px;
    /* border: 2px dashed rgb(255, 10, 43); */
}

article > div.media{
    flex: 1 0 400px;
    /* border: 2px dashed rgb(0, 68, 255); */
}

div.media > img{
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
}
div.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}