@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
}
.caixa1{
    background-color: rgb(21, 177, 177);
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
        |
        V
    grid-row: 1 / 2;
    grid-column: 1 / 5; 
        |
        V
    */
    grid-area: 1 / 1 / 2 / 5;
}
.caixa2{
    background-color: crimson;
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
        |
        V 
    grid-row: 2 / 4;
    grid-column: 1 / 2; 
        |
        V
    */
    grid-area: 2 / 1 / 4 / 2;
}
.caixa3{
    background-color: slateblue;
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
        |
        V
    grid-row: 2 / 4;
    grid-column: 2 / 5;
        |
        V
    */
    grid-area: 2 / 2 / 4 / 5;
}