@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
}
.caixa{
    background-color: lightgrey;
    border: 1px solid black;
}

#topo{
    grid-area: 1 / 1 / 2 / 3;
}
#menu{
    grid-area: 2 / 1 / 3 / 3;
}
#principal{
    grid-area: 3 / 1 / 4 / 2;
}
#secundario{
    grid-area: 3 / 2 / 4 / 3;
}
#rodape{
    grid-area: 4 / 1 / 5 / 3;
}