@charset "UTF-8";

/* Typical divice breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px 
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        background-image: linear-gradient(to right, black, transparent);
    }

    body {
        background: url(https://i.redd.it/29kcp54hqccf1.jpeg);
    }

    section#Login {
        width: 90vw;
    }

    section#Login>div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 100%;
        font-size: 1.2em;
    }

    input[type=submit] {
        display: flex;
        font-size: 1em;
        width: 50%;
        height: 40px;
        background-color: white;
        color: black;
        border: 2px solid rgb(197, 183, 54);
        border-radius: 5px;
        border-color: rgb(197, 183, 54);
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
    }

    section#Login>div#formulario {
        display: block;
        padding: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* gap: 100px; */
        height: 100%;
    }

    div.campo>label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-top: 10px;
    }

    i.material-symbols-outlined {
        display: none;
    }

    div.campo{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90px;
        margin-left: 10px;
        gap: 10px;
    }

    input#ilogin {
        width: 270px;
        height: 35px;
        text-indent: 3px;
    }

    input#isenha {
        width: 266px;
        height: 35px;
        text-indent: 3px;
    }

    a {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 10px auto;
    }

    a:hover{
        text-decoration: underline;
    }
}

/* --------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) {
    main {
        background-image: linear-gradient(to right, black, transparent);
    }

    body {
        background: url(https://eu-images.contentstack.com/v3/assets/blt740a130ae3c5d529/blt7cf50ad6e093d4fa/65bd183462eebe040a132e1c/Backrooms_model.jpg);
    }

    section#Login {
        width: 950px;
    }

    section#Login>div#img {
        float: left;
        width: 50%;
        height: 100%;
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.37);
    }

    section#Login>div#formulario {
        float: right;
        width: 50%;
    }

    div#formulario>h1 {
        font-size: 2em;
    }

    div#formulario>p {
        font-size: 1.2em;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    form p {
        padding: 10px;
        text-align: center;
    }  

    .campo {
        display: flex;
        flex-direction: row;
        width: 100%;  
    }

    div.campo{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90px;
        margin-left: 10px;
    }

    div.campo>label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 10px;
    }

    i.material-symbols-outlined {
        display: none;
    }

    input#ilogin {
        width: 280px;
        height: 38px;
        text-indent: 3px;
    }

    input#isenha {
        width: 276px;
        height: 38px;
        text-indent: 3px;
    }

   .botoes {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        width: 75%;
        background-color: white;
        color: black;
        /* border: 2px solid rgb(197, 183, 54); */
        border-radius: 5px;
        /* border-color: rgb(197, 183, 54); */
        cursor: pointer;
        /* margin: auto; */
        /* margin-top: 50px; */
    }

    a {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 10px auto;
    }

    a:hover{
        text-decoration: underline;
    }
}