@charset "UTF-8";

/* Typical divice breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px 
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        background-image: linear-gradient(to right, black, transparent);
    }

    body{
        background: url(https://i.redd.it/29kcp54hqccf1.jpeg);
    }

    section#Login{
        width: 90vw;
    }

    section#Login > div#img{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#Login > div#formulario{
        float: right;
        width: 70%;
    }

    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 40%;
        height: 40px;
        background-color: white;
        color: black;
        border: 2px solid rgb(197, 183, 54);
        border-radius: 5px;
        border-color: rgb(197, 183, 54);
        cursor: pointer;
    }

    form > div.campo{
        display: flex;
        height: 40px;
        padding: 5px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 992px){
    main{
        background-image: linear-gradient(to right, black, transparent);
    }

    body{
        background: url(https://eu-images.contentstack.com/v3/assets/blt740a130ae3c5d529/blt7cf50ad6e093d4fa/65bd183462eebe040a132e1c/Backrooms_model.jpg);
    }

    section#Login{
        width: 950px;
    }

    section#Login > div#img{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#Login > div#formulario{
        float: right;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p{
        font-size: 1.2em;
    }
}