@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: rgb(160, 149, 101);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#Login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 505px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#Login > div#img{
    background: gray url(https://hips.hearstapps.com/hmg-prod/images/view-down-hotel-corridor-with-illuminated-lamps-on-royalty-free-image-1704470736.jpg?crop=0.66682xw:1xh;center,top&resize=980:*);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    display: block;
}

section#Login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form#from{
    display: block;
    padding: 10px;
}

div.campo > label{
    display: none;
}

form > div.campo{
    display: flex;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
}

input#ilogin, input#isenha{
    border: 2px solid rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    font-size: 1em;
    margin-left: 3px;
    text-indent: 4px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    border: 2px solid rgb(197, 183, 54);
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

form > input[type=submit]:hover{
    background-color: rgb(197, 183, 54);
    color: white;
}

a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 1px auto;
}