body{
    background-image: url('/exer22/imagens-cap19/wallpaper004.jpg');
}
div.quad{
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    width: 300px;
    height: 300px;
    display: inline-block;
}
div#q1{
    background-color: skyblue;
}
div#q2{
    background-image: linear-gradient(to bottom, orange, red);
}
div#q3{
    background-image: url('/exer22/imagens-cap19/pattern003.png');
}