@charset "UTF-8";

/*Estilo para tela*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background: linear-gradient(to right, rgb(0, 0, 94),rgb(94, 0, 0) );
    color: white;
}

header > h1{
    text-align: center;
    padding: 20px;
}

menu ul{
    list-style-type: none;
    background-color: rgb(46, 46, 46);
    text-align: center;
    padding: 3px;
    box-shadow: 0px 0px 5px black;
}

menu li{
    background-color: darkgray;
    color: white;
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
}
menu li:hover{
    background-color: rgb(138, 138, 138);
}

article{
    width: 400px;
    display: block;
    margin: auto;
}
