@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: rgb(212, 212, 212);
}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
}

i#burguer{
    background-color: rgb(77, 77, 77);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

menu{
    display: block;
}

menu > ul{
    list-style: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(95, 95, 95);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: rgb(170, 170, 170);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 10px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}