@charset "UTF-8";

body{
    background-color: rgb(15, 0, 15);
}
header, header > nav{
    flex-flow: column;
}
header > h1{
    flex-basis: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 5px 10px purple;
}
header > nav > a{
    width: 80vw;
    height: 4vh;
    background-color: rgb(112, 32, 112);
    text-align: center;
}