@charset "UTF-8";

body{
    background-color: rgb(15, 0, 15);
}
header, header > nav{
    flex-flow: column;
}
header > h1{
    flex-basis: 50px;
    margin-bottom: 10px;
}
header > nav > a{
    width: 80vw;
    background-color: rgb(112, 32, 112);
}